{% extends "tayeur/base.html"%}
{% block content%}
<div class="row">
    <div class="col-md-4">
        <a class="nav-item nav-link" href="{% url 'tayeur:client'%}">AJOUTER UN CLIENT</a>
    </div>
    <div class="col-md-4">
        <a class="nav-item nav-link" href="{% url 'tayeur:commande'%}">AJOUTER UNE COMMANDE</a>
    </div>
   
</div>
{%endblock%}