<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tayeur</title>
    {% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-black navbar-inverse">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <li>
                <a class="nav-item nav-link" href="{% url 'tayeur:accueil'%}">ACCUEIL</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'tayeur:client'%}">CLIENT</a>
              </li>
              <li>
                <a class="nav-item nav-link" href="{% url 'tayeur:commande'%}">COMMANDE</a>
              </li>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="nav-item nav-link" href="#">CONNEXION</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">DECONEXION</a>
            </li>
          </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>