{% extends "tayeur/base.html"%}
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Information du client</h1>
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" id="nom" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="prenom">prenom</label>
                        <input type="text" name="prenom" id="prenom" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="telephone">
                            Telephone
                        </label>
                        <input type="text" name="telephone" id="telephone" class="form-control">

                    </div>
                    <div class="form-group">
                        <label for="region">Region</label>
                        <select name="region" id="region" class="form-control">
                            <option>Dakar</option>
                            <option>Saint-Louis</option>
                            <option>Thies</option>
                            <option>kaolack</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="adresse">Adreese</label>
                        <input type="text" name="adresse" id="adresse" class="form-control">
                    </div>
                    <label for="sexe">SEXE
                    <label class="checkbox-inline">
                        <input type="checkbox" value="">Mesure<br> standard homme
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" value="">Mesure<br> standard femme
                      </label>
                      <label class="checkbox-inline">
                        <input type="checkbox" value="">Mesure <br>complete homme
                      </label>
                    </label>

                    </div>
                    <div class="col-md-6">
                        <h1>Mesure du client</h1>
                            <div class="form-group">
                                <label for="epaule">Epaule</label>   
                                <input type="number" name="epaule" id="epaule" class="form-control"> 
                                </div>
                                <div class="form-group">
                                    <label for="manche">Manche</label>   
                                    <input type="number" name="manche" id="manche" class="form-control"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="cou">Cou</label>   
                                        <input type="number" name="cou" id="cou" class="form-control"> 
                                        </div>
                                        <div class="form-group">
                                            <label for="poitrine">Poitrine</label>   
                                            <input type="number" name="poitrine" id="poitrine" class="form-control"> 
                                            </div>
                                            <div class="form-group">
                                                <label for="taille">Taille</label>   
                                                <input type="number" name="taille" id="taille" class="form-control"> 
                                                </div>
                                                <div class="form-group">
                                                    <label for="ceinture">Ceinture</label>   
                                                    <input type="number" name="ceinture" id="ceinture" class="form-control"> 
                                    </div>
                </div>
                
                   
                       
        
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Enregistrer</button>
                    </div>
                </div>
               
            </div>
            
                                     
                </div>
                    
             </div>
           
    
    {% endblock %}
