{% extends "tayeur/base.html"%}
{% block content %}
<div class="row">
    <div class="col-md-6">
            <div class="form-group">
                <label for="typtissu">TYPE DE TISSU</label>
                <input type="text" name="typtissu" id="typtissu" class="form-control">
            </div>
            <div class="form-group">
                <label for="nbtissu">NOMBRE DE TISSU</label>
                <input type="number" name="nbtissu" id="nbtissu" class="form-control">
            </div>
            <div class="from-group">
                <h1>LIVRAISON</h1>
                <label for="nomprenom">NOM ET PRENOM</label>
                <input type="text" name="nomprenom" id="nomprenom" class="form-control">
            </div>
            <div class="form-group">
                <label for="date">DATE DE LIVRAISON</label>
                <input type="date" name="date" id="date" class="form-control">
            </div>
            <div class="form-group">
                <h1>PAIEMENT</h1>
                <label for="montant">Montant (en FCA)</label>
                <input type="text" name="montant" id="montant" class="form-control">

            </div>
            <div class="form-group">
                <label for="versement">1er VERSEMENT</label>
                <input type="text" name="versement" id="versement" class="form-control">
            </div>
            <div class="form-group">
                <label for="versement2">2eme VERSEMENT</label>
                <input type="text" name="versement2" id="versement2" class="form-control">
            </div>


    </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="pxu">PRIX UNITAIRE</label>
                <input type="text" name="pxu" id="pxu" class="form-control">


            </div>
            <div class="form-group">
                <label for="model">MODEL</label>
                <input type="text" name="model" id="model" class="form-control">

            </div>
            <div class="form-group">
                <label for="adrl">ADRESSE DE LIVRAISON</label>
                <input type="text" name="adrl" id="adrl" class="from-control">

            </div>
            <div class="form-group">
                <label for="ra">REMETTRE A</label>
                <input type="text" name="ra" id="ra" class="form-control">

            </div>
            <div class="form-group">
                <label for="dt">DATE 2 eme VERSEMENT</label>
                <input type="date" name="dt" id="dt" class="form-control">

            </div>
            <div class="form-group">
                <label for="tp">TYPE DE PAIEMENT</label>
                <select name="tp" id="tp" class="form-control">
                    <option>wari</option>
                    <option>Orange Money</option>
                </select>

            </div>

        </div>
</div>
{%endblock%}