{% extends "tayeur/base.html"%}
{% block content%}
<div class="row">
    <div class=" col-md-6 col-auto">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group col-auto">
                {{form.as_p}}
    
            </div>
            <button class="btn btn-info col-auto">Connexion</button>
        </form>
        
    </div>
   
    

</div>
{% endblock %}