{% extends "tayeur/base.html"%}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-mt-auto">
                    <form action="" method="post" class="form-vertical" enctype="multipart/form-data">
                       {% csrf_token%} 
                       {% include "tayeur/client-template.html" %}
                       {% include "tayeur/commande-template.html"%}
                       {% include "tayeur/login.html%}
                   </form>
                   <button class="btn btn-info">Connexion</button>
                </div>
                </div>

        </div>


{% endblock%}