{% extends "backoffice/base.html" %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
    <div class="card card-body">
        <p>Are you sure you want delete {{ user.firstName }} ? </p>
        <form action="{% url 'delete-user' user.pk %}" method="post">
        {% csrf_token %}
        <a href="{% url 'dashboard' %}" class="btn btn-warning">Cancel</a>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>
    </div>
    </div>
</div>


{% endblock content %}