{% extends "backoffice/base.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  {% for message in messages %}
  <div class="alert alert-success mt-2 alert-dismissible fade show" role="alert">
     {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>  
      </div>
 {% endfor %}
    <h1 class="h3 mb-0 text-gray-800">Liste des utilisateurs</h1>

        </div>
        {% include 'backoffice/users/data.html' %}
{% endblock content %}


