{% extends "backoffice/base.html" %}

{% block content %}
<div class="container">
    <h5 class="text-center">Detail du Tayeur {{user.firstName}}  {{user.lastName}} </h5>
    <div class="row">
        <div class="col-12">

            <div class="card boder-0">
                <div class="card-body">
                    <p>NOM: {{user.firstName}} </p>
                    <p>PRENOM: {{user.lastName}}</p>
                    <p>TELEPHONE: {{user.phone}}</p>
                    <p>ADRESSE: {{user.adresse}}</p>
                    <div class="d-flex justify-content-center">
                        {% if user.archived %}
                        <p class="fs-14 bg-warning p-3 text-light">cette utilisateur a ete archivee</p>
                        {% else %}
                        <a href="{% url 'delete-user' user.id %}" class="btn btn-danger
                         text-decoration-none">Archiver</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}