{% load static %}

<div class="card shadow mb-4">



    <div class="card-body">
  
        <div class="table-responsive">
  
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
  
                <thead>
  
                  <tr>
  
                      <th>Numero de commande</th>
                      <th>Nom du tissu</th>
                      <th>Metre tissu</th>
                      <th>Date de Livraison</th>
                      <th>Client</th>
                     <th>Statut</th>
                      <th>Cree par</th> 
  
                      {% comment %} <th>Actions</th>  {% endcomment %}
  
                  </tr>
  
                </thead>
  
                <tbody>
  
                    {% for commande in commandes %}
  
                    <tr>
  
                        <td>{{commande.numero_commande}}</td>
  
                        <td>{{commande.nom_tissu}}</td>
                        {% comment %} <td>
                     <img src="http://127.0.0.1:8000/api{{ commande.modele }}" alt={{commande.nom_tissu}}>
                        </td> {% endcomment %}
                        <td>{{commande.metre_tissu}} m</td>
                        <td>{{commande.date_livraison}}</td>
                        <td>{{commande.clientId}}</td>

                       <td>{{commande.statut}}</td>
                       <td>{{commande.createdBy}}</td> 
                       {% comment %} <td>{{commande.montant}}</td> {% endcomment %}
  
                        {% comment %} <td>{{ user.date_joinde }}</td> {% endcomment %}
  
                        <!-- <td>2011/04/25</td>
  
                        <td>2011/04/25</td> -->
  
                        
  
                          
  
                          {% comment %} <td class='text-center'>
  
                              <a href="{% url 'update-user' user.id %}" class="p-4"><i class="fas fa-edit text-primary"></i></a>
  
                              <a href="{% url 'delete-user' user.id %}"><i class="fas fa-trash text-danger"></i></a>
  
                            </td> {% endcomment %}
  
                      
  
                    </tr>
  
                    {% endfor %}
  
                </tbody>
  
            </table>
  
        </div>
  
    </div>
  
  </div>